<section>
<br>
<h2 class="title is-2">Encuentra las solicitudes para asistencias</h2>

{{#each asistencias as |asistencia| }}
<div class="card-content">
  <div class="media">
    <div class="media-left">
  <span class="title is-5">Tipo de asistencia: </span><span class="subtitle is-6">{{asistencia.tipo}}</span><br>
<span class="title is-5">Dirección de asistencia:</span> <span class="subtitle is-6">{{asistencia.location.address}}</span><br>
<span class="title is-5">Datos del solicitante:</span><br>
  <img width="100px" height="100px" src="{{asistencia.solicitante.image}}" alt="{{asistencia.solicitante.name}}"> <br>
<span class="title is-5">Nombre:</span> <span class="subtitle is-6">{{asistencia.solicitante.name}} {{asistencia.solicitante.lastname}}</span><br>
    <span class="title is-5">Email:</span> <span class="subtitle is-6">{{asistencia.solicitante.email}}</span><br>
  <span class="title is-5">Teléfono:</span> <span class="subtitle is-6">{{asistencia.solicitante.phonenumber}}</span><br>
  {{#each asistencia.images as |image|}}
  <img width="100px" src="{{image}}" alt="">
  {{/each}}
<span class="title is-5">Descripción:</span><span class="subtitle is-6"> {{asistencia.description}}</span><br>
  <span class="title is-5">Status:</span><span class="subtitle is-6">{{asistencia.status}}</span><br>
<form action="/asistencias" method="POST">
  <input type="text" hidden value="{{asistencia._id}}" name="id">
  <footer class="card-footer">
  <button type="submit">Aceptar asistencia</button>
    </footer>
</form>
</div>
</div>
</div>
{{/each}}
</section>