<h1>Encuentra las solicitudes para asistencias</h1>

{{#each asistencias as |asistencia| }}
<div>
  <h3>Tipo de asistencia{{asistencia.tipo}}</h3>
  <span>Dirección de asistencia: {{asistencia.location.address}}</span>
  <div>
    <h4>Datos del solicitante:</h4>
    <p><img width="100px" height="100px" src="{{asistencia.solicitante.image}}" alt=""></p>
    <p>Nombre: {{asistencia.solicitante.name}} {{asistencia.solicitante.lastname}}</p>
    <p>Email: {{asistencia.solicitante.email}}</p>
    <p>Teléfono: {{asistencia.solicitante.phonenumber}}</p>
  </div>
  {{#each asistencia.images as |image|}}
  <img width="100px" src="{{image}}" alt="">
  {{/each}}
  <p>Descripción: {{asistencia.description}}</p>
  <strong>Status: {{asistencia.status}}</strong>
</div>
<form action="/asistencias" method="POST">
  <input type="text" hidden value="{{asistencia._id}}" name="id">
  <button type="submit">Aceptar asistencia</button>
</form>
{{/each}}