<section>
  <div>
    <div>
      <div>
        <h2>
          {{#if action}}
          {{action}}
          {{else}}
          Regístrate
          {{/if}}
        </h2>

        <form {{#if action}} action="/auth/login" {{else}} action="/auth/register" {{/if}} method="POST">

          {{#unless action}}
          <div>

            <div>
              <input name="name" type="text" placeholder="Ingresa tu nombre">
            </div>

            <div>
              <input name="lastname" type="text" placeholder="Ingresa tu apellido">
            </div>

            <div>
              <select name="role">
                <option selected disabled>Selecciona tu tipo de perfil</option>
                <option value="User">Usuario</option>
                <option value="Fixer">Fixer</option>
              </select>
            </div>
          </div>

          <div>
            <input name="phonenumber" type="number" placeholder="Ingresa tu teléfono">
          </div>
          {{/unless}}

          <div>
            <div>
              <input name="email" type="email" placeholder="example@example.com">
            </div>
          </div>

          <div>
            <div>
              <input name="password" type="password" placeholder="Ingresa tu contraseña">
            </div>
          </div>

          {{#if err.message}}
          <div>
            <p>{{err.message}}</p>
          </div>
          {{/if}}

          {{#if pendingConfirm}}
          <div>
            <p>{{pendingConfirm}}</p>
          </div>
          {{/if}}

          <button>
            {{#if action}}
            {{action}}
            {{else}}
            Regístrate ahora
            {{/if}}
          </button>

        </form>



      </div>
    </div>

  </div>
</section>