<section>
    <div class="columns is-mobile is-centered">
      <div clas="column is-8">
       <h1 class="title"><br>
          {{#if action}}
          {{action}}
          {{else}}
          Regístrate
          {{/if}}
        </h1>
        <form {{#if action}} action="/auth/login" {{else}} action="/auth/register" {{/if}} method="POST">

          {{#unless action}}
          <div class="box">

          <div class="field">
  <div class="control">
              <input class="input" name="name" type="text" placeholder="Ingresa tu nombre">
            </div>
    </div>

      <div class="field">
      <div class="control">
              <input class="input" name="lastname" type="text" placeholder="Ingresa tu apellido">
            </div>
            </div>

  <div class="field">
    <div class="control">
      <div class="select">
              <select name="role">
                <option selected disabled>Selecciona tu tipo de perfil</option>
                <option value="User">Usuario</option>
                <option value="Fixer">Fixer</option>
              </select>
            </div>
          </div>
  </div>

<div class="field">
<div class="control">
            <input class="input" name="phonenumber" type="text" placeholder="Ingresa tu teléfono">
          </div>
          </div>
           {{/unless}}

<div class="field">
<div class="control">
              <input class="input" name="email" type="email" placeholder="example@example.com">
            </div>
          </div>

<div class="field">
<div class="control">
              <input class="input" name="password" type="password" placeholder="Ingresa tu contraseña">
            </div>
          </div>

          {{#if err.message}}
          <div>
            <p>{{err.message}}</p>
          </div>
          {{/if}}

          {{#if pendingConfirm}}
          <div>
            <p>{{pendingConfirm}}</p>
          </div>
          {{/if}}

          <button class="button is-success">
            {{#if action}}
            {{action}}
            {{else}}
            Regístrate ahora
            {{/if}}
          </button>
          



       
</div>
 </form>
</div>
</div>
</section>