<section>
  <div>
    <div class="columns is-mobile is-centered">
      <div class="column is-8">

<div class="box">
  <form action="" method="post">


<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>

<div class="field">
  <label class="label">Username</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="text" placeholder="Text input" value="bulma">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
  <p class="help is-success">This username is available</p>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
  <p class="help is-danger">This email is invalid</p>
</div>

<div class="field">
  <label class="label">Subject</label>
  <div class="control">
    <div class="select">
      <select>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
    </div>
  </div>
</div>
  </form>
</div>




not bulma

<div class="field is-grouped">
  <div class="control">
     <button class="button is-link">
            {{#if action}}
            {{action}}
            {{else}}
            Regístrate ahora
            {{/if}}
          {{!-- </button><button class="button is-link">Regístrate ahora</button> --}}
  </div>
</div>




        {{!-- ****************original******* --}}
        <h2>
          {{#if action}}
          {{action}}
          {{else}}
          Regístrate
          {{/if}}
        </h2>

        <form {{#if action}} action="/auth/login" {{else}} action="/auth/register" {{/if}} method="POST">

          {{#unless action}}
          <div>

            <div>
              <input name="name" type="text" placeholder="Ingresa tu nombre">
            </div>

            <div>
              <input name="lastname" type="text" placeholder="Ingresa tu apellido">
            </div>

            <div>
              <select name="role">
                <option selected disabled>Selecciona tu tipo de perfil</option>
                <option value="User">Usuario</option>
                <option value="Fixer">Fixer</option>
              </select>
            </div>
          </div>

          <div>
            <input name="phonenumber" type="number" placeholder="Ingresa tu teléfono">
          </div>
          {{/unless}}

          <div>
            <div>
              <input name="email" type="email" placeholder="example@example.com">
            </div>
          </div>

          <div>
            <div>
              <input name="password" type="password" placeholder="Ingresa tu contraseña">
            </div>
          </div>

          {{#if err.message}}
          <div>
            <p>{{err.message}}</p>
          </div>
          {{/if}}

          {{#if pendingConfirm}}
          <div>
            <p>{{pendingConfirm}}</p>
          </div>
          {{/if}}

          <button>
            {{#if action}}
            {{action}}
            {{else}}
            Regístrate ahora
            {{/if}}
          </button>

        </form>



      </div>
    </div>

  </div>
</section>