      <h2>
        {{#if asistencia}}
        Edita tu solicitud de asistencia
        {{else}}
        Solicita una asistencia
        {{/if}}
      </h2>
      <form {{#if asistencia}} action="/asistencias/{{asistencia._id}}/edit" {{else}} action="/asistencias/new" {{/if}}
        enctype="multipart/form-data" method="POST">

            <div>
              <select name="tipo">
            <option selected disabled>Selecciona un servicio</option>
              <option value="Cambio de llanta">Cambio de llanta</option>
               <option value='Paso de corriente'>Paso de corriente</option>
               <option value="Servicio de grúa">Servicio de grúa</option>
               <option value="Abasto de gasolina">Abasto de gasolina</option>
            </select>
            <textarea name="description"
              placeholder="Ingresa una descripción de tu problema (opcional)">{{asistencia.description}}</textarea>
              <input name="images" type="file" multiple>
            </div>

           <div>
              <input hidden id="address" name="address" type="text" placeholder=""
              value="{{asistencia.location.address}}">
            <input hidden id="lat" name="lat"  type="text" value="{{asistencia.location.coordinates.[0]}}">
            <input hidden id="lng" name="lng" type="text" value="{{asistencia.location.coordinates.[1]}}">
           </div>
<div>Ingresa tu ubicación actual</div>
        <div>
          <div id="search"></div>
          <div id='map' style='display: inline-flex;width: 400px; height: 300px;'></div>
        </div>

        <button type="submit">
          Enviar ubicación
        </button>

      </form>

<script>
  const address = document.getElementById("address");
  const lat = document.getElementById("lat");
  const lng = document.getElementById("lng");
  mapboxgl.accessToken = 'pk.eyJ1IjoiY3J1c2VkbW9zcyIsImEiOiJjanUwYWJpcTIwMGlxNDRxbnVrbzRlZ2ZwIn0.JFaXPkdL0AJ7Vbtyc8lD4A';
  let map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });
  const geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
  })
  document.getElementById("search").appendChild(geocoder.onAdd(map))
  geocoder.on("result", (e) => {
    console.log(e.result)
    address.value = e.result.place_name;
    lat.value = e.result.center[0];
    lng.value = e.result.center[1];
  })
</script>