<section>
  <div >
    <div >
      <h2 >
        Editar Perfil
      </h2>
      <form action="/profile/{{user._id}}/edit"  enctype="multipart/form-data" method="POST">
        <div >
          <div >
            <input name="name"  type="text" placeholder="Ingresa tu nombre" value="{{user.name}}">
          </div>
        </div>
        <div >
          <div >
            <input name="lastname" class="uk-input" type="text" placeholder="Ingresa tu apellido"
              value="{{user.lastname}}">
          </div>
        </div>
        <div >
          <div >
            <input disabled name="email"  type="email" placeholder="Ingresa tu email"
              value="{{user.email}}">
          </div>
        </div>
        <div >
          <div >
            <div >
              <input name="image" type="file">
             
            </div>
          </div>
        </div>
        {{#if err.message}}
        <div>
          <p>{{err.message}}</p>
        </div>
        {{/if}}
        <button >
        Actualizar Perfil
        </button>
      </form>
    </div>
  </div>
</section>
