<section>
<div class="columns is-mobile is-centered">
  <div clas="column is-8"> <br>
         <h2 class="title is-2" >        Editar Perfil      </h2>
         <div class="box ">
 
      <form action="/profile/{{user._id}}/edit"  enctype="multipart/form-data" method="POST">
  <div class="field">
    <div class="control">
            <input name="name"  type="text" placeholder="Ingresa tu nombre" value="{{user.name}}">
</div>
</div>
  <div class="field">
    <div class="control">
            <input name="lastname" class="uk-input" type="text" placeholder="Ingresa tu apellido"
              value="{{user.lastname}}">
</div>
</div>
  <div class="field">
    <div class="control">
            <input disabled name="email"  type="email" placeholder="Ingresa tu email"
              value="{{user.email}}">
  </div>
  </div>
      <div class="field">
        <label class="label">Actualiza tu foto de perfil</label>
        <div class="control">
              <input name="image" type="file">
            </div>
            </div>
        {{#if err.message}}
          <p>{{err.message}}</p>
        {{/if}}
        <button class="button is-success" >
        Actualizar Perfil
        </button>
      </form>
      </div>
    </div>
  </div>
</section>