        <div>
          {{#if user.image}}
          <img style="width: 200px; height: 200px" src="{{user.image}}" alt="{{user.name}}">
          {{else}}
          <img src="https://static.thenounproject.com/png/1095867-200.png" alt="profile-image">
          {{/if}}
            <p >Nombre: {{user.name}} {{user.lastname}}</p>
            <p >Email: {{user.email}}</p>
            <p>Tipo de perfil: {{user.role}}</p>
            <p>Teléfono: {{user.phonenumber}}</p>
            <a href="/profile/{{user._id}}/edit">Editar perfil</a>
        </div>
        <div>
        
          {{#if isFixer}} 
           <h2>Asistencias aceptadas</h2>
          {{#each asistencias as |asistencia| }}
            <div>
              <h3>Tipo de asistencia: {{asistencia.tipo}}</h3>
              <span>Dirección de asistencia: {{asistencia.location.address}}</span>
                  <div>
                    <h4>Datos del solicitante:</h4>
                    <img width="100px" height="100px" src="{{asistencia.solicitante.image}}" alt="{{asistencia.solicitante.name}}">
                    <p>Nombre: {{asistencia.solicitante.name}} {{asistencia.solicitante.lastname}}</p>
                    <p>Email: {{asistencia.solicitante.email}}</p>
                    <p>Teléfono: {{asistencia.solicitante.phonenumber}}</p>
                  </div>
                  <a href="/asistencias/{{asistencia._id}}"> Ver la ubicación del solicitante</a>
                {{#each asistencia.images as |image|}}
                     <img width="100px" src="{{image}}" alt="">
                {{/each}}
                <p>Descripción: {{asistencia.description}}</p>
                <strong>Status:{{asistencia.status}}</strong>
             </div>
          {{/each}}
          {{else}}
          <h2>Asistencias Solicitadas</h2>
          {{#each asistencias as |asistencia| }}
            <div>
              <h3>Tipo de asistencia: {{asistencia.tipo}}</h3>
              <span>Dirección asistencia: {{asistencia.location.address}}</span>
                 <div>
                    <h4>Datos de tu Fixer:</h4>
                    <img width="100px" height="100px"src="{{asistencia.fixer.image}}" alt="">
                    <p>Nombre : {{asistencia.fixer.name}} {{asistencia.fixer.lastname}}</p>
                    <p>Email: {{asistencia.fixer.email}}</p>
                    <p>Teléfono: {{asistencia.fixer.phonenumber}}</p>
                 </div>
                {{#each asistencia.images as |image|}}
                     <p>Imágenes del problema</p>
                     <img width="100px" height="100px" src="{{image}}" alt="">
                {{/each}}
                <p>Descripción: {{asistencia.description}}</p>
                <strong>Status: {{asistencia.status}}</strong>
             </div>
            <form action="/asistencias/cancelar" method="POST">
              <input type="text" hidden value="{{asistencia._id}}" name="id">
              <button type="submit">Cancelar asistencia</button>
            </form>
          {{/each}}
          {{/if}}
        </div>