<section><br>
<h2 class="title is-2">Consulta la ruta para llegar al usuario</h2>
<div class=box>
<div class="card-content">
<span class="title is-5">Servicio: </span><span class="subtitle is-6"></span>{{asistencia.tipo}}</span> <br>
<span class="title is-5">Descripción: </span><span class="subtitle is-6"></span>{{asistencia.description}}</span><br>
<span class="title is-5">Direccion: </span><span class="subtitle is-6"></span>{{asistencia.location.address}}</span><br>
<img width="100px" height="100px" src="{{asistencia.solicitante.image}}"
  alt="{{asistencia.solicitante.name}}"></span><br>
<span class="title is-5">Nombre: </span><span class="subtitle is-6"></span>{{asistencia.solicitante.name}} {{asistencia.solicitante.lastname}}</span><br>
<span class="title is-5">Teléfono: </span><span class="subtitle is-6"></span>{{asistencia.solicitante.phonenumber}}</span><br>
<p class="title is-5">Instrucciones para llegar al solicitante: </p>
<p class="subtitle is-10"> Selecciona tu ubicación en el mapa (marcador rojo) .</p>
<p class="subtitle is-10">Selecciona la ubicación del usuario que solicita (marcador azul). </p>
</div> 
</div>

<div >
  <div id='map' style='width: 80%; height: 400px;'></div>
</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiY3J1c2VkbW9zcyIsImEiOiJjanUwYWJpcTIwMGlxNDRxbnVrbzRlZ2ZwIn0.JFaXPkdL0AJ7Vbtyc8lD4A';
  let map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
  });
  map.addControl(
    new mapboxgl.GeolocateControl({
      positionOptions: {
        enableHighAccuracy: true
      },
      trackUserLocation: true,
      showUserLocation: true
    })
  );
  map.addControl(new MapboxDirections({accessToken: mapboxgl.accessToken}), 'top-left')
  map.addControl(new mapboxgl.NavigationControl());

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function (position) {
      const center = [
        position.coords.longitude,
        position.coords.latitude
      ];
      map.setZoom(11).setCenter(center);
      new mapboxgl.Marker({ color: "red" })
          .setLngLat(center)
          .setPopup(new mapboxgl.Popup().setHTML("<p>Usted está aquí</p>"))
          .addTo(map);
    });
  }

      let [lng,lat] = [{{asistencia.location.coordinates}}]
      console.log(lng, lat)
      let asistencia_position = [lng, lat];
      new mapboxgl.Marker()
          .setLngLat(asistencia_position)
          .setPopup(new mapboxgl.Popup().setHTML("<p>Dirección del servicio solicitado</p>"))
          .addTo(map);
</script>
</section>